In [ ]:
# chat ref for ML basics

# https://chatgpt.com/share/690dc4d0-9d38-800b-9f6a-18c1061afb5f

In [2]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="192.168.1.15",
    user="test01",
    password="Test@123p",
    database="team03"
)

query = "SELECT * FROM users"
df = pd.read_sql(query, conn)

print(df.head())
conn.close()

   user_id      user_name      password               email  age  status  \
0        1       john_doe   password123    john@example.com   25  active
1        2   alice_wonder    alice@pass   alice@example.com   30  active
2        3      john_doe1  password1231   john1@example.com   25  active
3        4  alice_wonder1   alice@pass1  alice1@example.com   30  active

           created_at
0 2025-10-30 11:06:01
1 2025-10-30 11:06:01
2 2025-10-30 11:14:23
3 2025-10-30 11:14:23

C:\Users\Laptop\AppData\Local\Temp\ipykernel_8592\3770079974.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [8]:
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\program files\python313\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector
from mysql.connector import Error




def connect_db(host='localhost', database='', user='', password='', port=3306):
    try:
        connection = mysql.connector.connect(
            host=host,
            database=database,
            user=user,
            password=password,
            port=port
        )
        if connection.is_connected():
            print("Successfully connected to MySQL database")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None





def execute_query(connection, query, params=None):
    try:
        cursor = connection.cursor()
        if params:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
        results = cursor.fetchall()
        cursor.close()
        return results
    except Error as e:
        print(f"Error executing query: {e}")
        return None

def execute_update(connection, query, params=None):
    try:
        cursor = connection.cursor()
        if params:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
        connection.commit()
        rowcount = cursor.rowcount
        cursor.close()
        return rowcount
    except Error as e:
        print(f"Error executing update: {e}")
        connection.rollback()
        return 0

def close_db(connection):
    if connection and connection.is_connected():
        connection.close()
        print("MySQL connection closed")

# Example usage
if __name__ == "__main__":
    conn = connect_db(
        host='localhost',
        database='team03',
        user='test01',
        password='Test@123p'
    )
    
    if conn:
        results = execute_query(conn, "SELECT * FROM users LIMIT 5")
        print(results)
        close_db(conn)

Successfully connected to MySQL database
[(1, 'john_doe', 'password123', 'john@example.com', 25, 'active', datetime.datetime(2025, 10, 30, 11, 6, 1)), (2, 'alice_wonder', 'alice@pass', 'alice@example.com', 30, 'active', datetime.datetime(2025, 10, 30, 11, 6, 1)), (3, 'john_doe1', 'password1231', 'john1@example.com', 25, 'active', datetime.datetime(2025, 10, 30, 11, 14, 23)), (4, 'alice_wonder1', 'alice@pass1', 'alice1@example.com', 30, 'active', datetime.datetime(2025, 10, 30, 11, 14, 23))]
MySQL connection closed

In [4]:
conn = connect_db(
        host='localhost',
        database='team03',
        user='test01',
        password='Test@123p'
    )
results = execute_query(conn, "SELECT * FROM users LIMIT 5")

Successfully connected to MySQL database

In [5]:
for row in results:
    print(row)

(1, 'john_doe', 'password123', 'john@example.com', 25, 'active', datetime.datetime(2025, 10, 30, 11, 6, 1))
(2, 'alice_wonder', 'alice@pass', 'alice@example.com', 30, 'active', datetime.datetime(2025, 10, 30, 11, 6, 1))
(3, 'john_doe1', 'password1231', 'john1@example.com', 25, 'active', datetime.datetime(2025, 10, 30, 11, 14, 23))
(4, 'alice_wonder1', 'alice@pass1', 'alice1@example.com', 30, 'active', datetime.datetime(2025, 10, 30, 11, 14, 23))

In [6]:
import pandas as pd
# results contain 7 fields per row: (id, username, password, email, age, status, created_at)
df = pd.DataFrame(results, columns=['id', 'username', 'password', 'email', 'age', 'status', 'created_at'])

In [7]:
df.head()

,id,username,password,email,age,status,created_at
0,1,john_doe,password123,john@example.com,25,active,2025-10-30 11:06:01
1,2,alice_wonder,alice@pass,alice@example.com,30,active,2025-10-30 11:06:01
2,3,john_doe1,password1231,john1@example.com,25,active,2025-10-30 11:14:23
3,4,alice_wonder1,alice@pass1,alice1@example.com,30,active,2025-10-30 11:14:23