In [10]:
# to install pandas use the below codes in comments
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [7]:
# declaring data as dictionary
data={'name':"karthick",
      'location':'trichy', 'role':'trainer'}
print(data)
for key,value in data.items():
    print(key,":", value)

print("")
print("")
# # #creating dataframe
df=pd.DataFrame(data, index=[0])
print(df) #printing dataframe

{'name': 'karthick', 'location': 'trichy', 'role': 'trainer'}
name : karthick
location : trichy
role : trainer


       name location     role
0  karthick   trichy  trainer

In [8]:

#changeing index from default to assigned
df=pd.DataFrame(data, index=['data_01'])
print(df)

             name location     role
data_01  karthick   trichy  trainer

In [12]:
#selecting dataframe by columns - selected two out of three with modified index name
df=pd.DataFrame(data, columns=["name"], index=['data_01'])
print(df)
print("")
df=pd.DataFrame(data, columns=["name",'role'], index=['data_01'])
print(df)

             name
data_01  karthick

             name     role
data_01  karthick  trainer

## Series

In [16]:
# declaring data as list
data = ["10","20", "30"]
#converting normal list data to series
slist=pd.Series(data)
print(slist)
print("")

# changeing defalult index numbers to custom names
slist1=pd.Series(data, index=["sale 2010","sale 2011", 'sale 2020'])
print(slist1)

0    10
1    20
2    30
dtype: object

sale 2010    10
sale 2011    20
sale 2020    30
dtype: object

In [17]:
#declaring data as Dict
data2={
    '2010':[10,1,2,2,3,3,5],
    '2020':[20,1,2,2,3,3,5],
    '2011':[301,2,2,3,3,5,2]
       }
# converting normal dict data to series using pandas
slist2=pd.Series(data2)
print(slist2)
# print("")

# # knowing the type of data like (series)
print(type(slist2))

2010     [10, 1, 2, 2, 3, 3, 5]
2020     [20, 1, 2, 2, 3, 3, 5]
2011    [301, 2, 2, 3, 3, 5, 2]
dtype: object
<class 'pandas.core.series.Series'>

## Dataframe

In [24]:
# dataframe from series

# declaring data as list
names = ['Alice', 'Bob', 'Charlie', 'David']


# creating dataframe using list
df=pd.DataFrame(names,columns=["name"])
print(df)
print("")
print("")

# #changeing index from default to assigned
df=pd.DataFrame(names,columns=["name"], index=[22,33,44,55])
print(df)

# adding additional columns to the existing data
ages = [25, 30, 35, 40]
scores = [85, 90, 88, 92]

df['Age'] = ages
df['Score'] = scores
print("")
print(df)

      name
0    Alice
1      Bob
2  Charlie
3    David


       name
22    Alice
33      Bob
44  Charlie
55    David

       name  Age  Score
22    Alice   25     85
33      Bob   30     90
44  Charlie   35     88
55    David   40     92

## Read data from file

In [29]:
data= pd.read_csv('data/Computers.csv')
# print(data)

df=pd.DataFrame(data)
print(df) # to print datas from dataframe - it prints only top 5 and bottom 5
# print(df.to_string())  # it prints entire dataframe

       sno  price  speed      hd   ram  screen   cd multi premium  ads  trend
0        1   1499     25    80.0   4.0      14   no    no     yes   94      1
1        2   1795     33    85.0   2.0      14   no    no     yes   94      1
2        3   1595     25   170.0   4.0      15   no    no     yes   94      1
3        4   1849     25   170.0   8.0      14   no    no      no   94      1
4        5   3295     33   340.0  16.0      14   no    no     yes   94      1
...    ...    ...    ...     ...   ...     ...  ...   ...     ...  ...    ...
6254  6255   1690    100   528.0   8.0      15   no    no     yes   39     35
6255  6256   2223     66   850.0  16.0      15  yes   yes     yes   39     35
6256  6257   2654    100  1200.0  24.0      15  yes    no     yes   39     35
6257  6258   2195    100   850.0  16.0      15  yes    no     yes   39     35
6258  6259   2490    100   850.0  16.0      17  yes    no     yes   39     35

[6259 rows x 11 columns]

In [61]:
df.head(1)
# df.head(20)
# df.tail()
# df.tail(7)
# df.sample()
# df.sample(4)

   sno  price  speed    hd  ram  screen  cd multi premium  ads  trend
0    1   1499     25  80.0  4.0      14  no    no     yes   94      1

In [63]:
# print(df['price'].head())
# print(df[["sno",'price','ram']].head()) # to print specific column name from the dataframe also restrict with head
# print(df.loc[0]) # to print/select row  
# print(df.loc[0:5]) # to print/select range of rows
print(df.loc[3:5]) # to print/select range of rows

   sno  price  speed     hd   ram  screen  cd multi premium  ads  trend
3    4   1849     25  170.0   8.0      14  no    no      no   94      1
4    5   3295     33  340.0  16.0      14  no    no     yes   94      1
5    6   3695     66  340.0  16.0      14  no    no     yes   94      1

In [69]:
# print(df.loc[0:2]) # to print/select range of rows

# print(df.iloc[df.index[0:3]])# to print/select range of rows by using index

# filterdlist=df[df["ram"]>16] # to select entire columns data based on conditions
# print(filterdlist)

filterdlists=df[(df["ram"]>16) & (df["screen"]>15) ] # to select entire columns data based on two condtions
print(filterdlists)

       sno  price  speed      hd   ram  screen   cd multi premium  ads  trend
1506  1507   5399     66  1200.0  32.0      17  yes    no     yes  283     10
1991  1992   5399     66  1200.0  32.0      17  yes    no     yes  259     11
2096  2097   5399     66  1200.0  32.0      17  yes    no     yes  275     12
4709  4710   2340     33  1000.0  24.0      17  yes    no     yes  162     22
4778  4779   3240     33  1000.0  24.0      17  yes    no     yes  162     22
4785  4786   3440     66  1000.0  24.0      17  yes    no     yes  162     22
4846  4847   2390     50  1000.0  24.0      17  yes    no     yes  162     22
4890  4891   3240     50  1000.0  24.0      17  yes    no     yes  191     23
4931  4932   3240     33  1000.0  24.0      17  yes    no     yes  191     23
4940  4941   3290     66  1000.0  24.0      17  yes    no     yes  191     23
4992  4993   3140     33  1000.0  24.0      17  yes    no     yes  191     23
5409  5410   2940     50  1000.0  24.0      17  yes    no     yes  152     26
5415  5416   2990     66  1000.0  24.0      17  yes    no     yes  152     26
5509  5510   3340    100  1000.0  24.0      17  yes    no     yes  152     26
5575  5576   2890     50  1000.0  24.0      17  yes    no     yes  163     27
5658  5659   2940     66  1000.0  24.0      17  yes    no     yes  163     27
5677  5678   3090    100  1000.0  24.0      17  yes    no     yes  163     27
5711  5712   2940     66  1000.0  24.0      17  yes    no     yes  132     28
5746  5747   3090    100  1000.0  24.0      17  yes    no     yes  132     28
5827  5828   2890     50  1000.0  24.0      17  yes    no     yes  132     28
5854  5855   2790     50  1000.0  24.0      17  yes    no     yes  129     29
5887  5888   3040    100  1000.0  24.0      17  yes    no     yes  129     29
5951  5952   2840     66  1000.0  24.0      17  yes    no     yes  129     29
5976  5977   2840     75  1200.0  24.0      17  yes    no     yes   75     30
5977  5978   2790     50  1200.0  24.0      17  yes    no     yes   75     30
6067  6068   2790     75  1200.0  24.0      17  yes    no     yes   52     31
6117  6118   2790     75  1200.0  24.0      17  yes    no     yes   51     32
6146  6147   2790     75  1200.0  24.0      17  yes    no     yes   40     33
6188  6189   2790     66  1200.0  24.0      17  yes    no     yes   39     34
6193  6194   3290     75  1600.0  32.0      17  yes    no     yes   39     34
6212  6213   2890    100  1200.0  24.0      17  yes    no     yes   39     34
6230  6231   2890    100  1200.0  24.0      17  yes    no     yes   39     35
6235  6236   3290     75  1600.0  32.0      17  yes    no     yes   39     35
6236  6237   2790     66  1200.0  24.0      17  yes    no     yes   39     35